* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

body > header {
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 90%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2 {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blueviolet;
    padding: 4px;
    display: inline-block;
    margin-top: 8px;
    color: #f5f6fa;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    background-color: #2f3640;
}

.articles article p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}
